{% extends 'common/templates/index.html' %}
{% load static %}
{% block head %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_panel.css' %}">
{% endblock %}
{% block body %}

        <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="post" action="{% url 'users:register' %}">
            {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Zarejestruj</button>
            </form>
            <a href="{% url 'users:login' %}" class="forgot-password">
                Masz juz konto? <span class="bold"> Zaloguj się </span>
            </a>
        </div>
    </div>

{% endblock %}