.search__container {
    width: 50%;
    margin: 0 auto;
        padding-top: 64px;
    }

.search__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #090b0c;
        line-height: 200%;
    }

.search__input {
  width: 100%;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background: transparent no-repeat 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.location img{
  position: absolute;
  right: 300px;
  top: 155px;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
}

button{
  padding: 12px 24px;
  font-size: 14px;
  line-height: 18px;
  width: 70%;
  position: relative;
  left: 50px;
  color: #575756;
  background-size: 18px 18px;
  background: transparent no-repeat 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
}

button:hover{
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

input::placeholder {
  color: rgba(87, 87, 86, 0.8);
  text-transform: uppercase;
  letter-spacing: 2px;
}

input:hover,
.search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

select {
  padding: 12px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-size: 18px 18px;
  background: transparent no-repeat 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  }

.ui-state-hover, .ui-state-active {
  cursor: default;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background: #0088cc none;
}

.ui-helper-hidden-accessible { display:none; }
