<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br><br>

{{ request.GET.next }}

<form method="post" action="{% url 'users:login' %}">
    <p>Username: {{ form.username }}</p>
    <p>Password: {{ form.password }}</p>
    <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% endif %}">
    <p>Login: <input type="submit"></p>
    <p>Nie masz konta? <a href="{% url 'users:register' %}">Zarejestruj</a></p>
    {% csrf_token %}
</form>

</body>
</html>